/* 🔥 MUST HAVE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
  padding: 1.2rem 4rem;

  display: flex;
  align-items: center;

  backdrop-filter: blur(12px);

}

/* Logo */
.nav-logo {
  font-size: 1.3rem;
  color: var(--accent);
  font-weight: 700;
}

/* 🔥 Desktop: push links right */
.nav-links {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin-left: auto;
  /* IMPORTANT */
}

/* Links */
.nav-links a {
  color: var(--muted);
  text-decoration: none;
  font-size: .78rem;
  letter-spacing: .12em;
  text-transform: uppercase;

  position: relative;
  transition: color 0.3s ease;
}

/* underline */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0%;
  height: 2px;
  background: var(--accent);

  transition: width 0.3s ease;
}

/* hover effect */
.nav-links a:hover {
  color: var(--accent);
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hamburger */
.menu-toggle {
  display: none;
  font-size: 1.6rem;
  margin-left: auto;
  cursor: pointer;
  color: var(--accent);
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  nav {
    padding: 1.2rem 1.5rem;
  }

  /* Show hamburger */
  .menu-toggle {
    display: block;
  }

  /* Hide desktop menu */
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    /* 🔥 hidden outside screen */
    height: 100vh;
    width: 250px;

    background: rgba(10, 10, 10, 0.98);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    transition: right 0.3s ease;
    /* 🔥 animation */
  }

  /* When active → slide in */
  .nav-links.active {
    right: 0;
    backdrop-filter: blur(10px);
  }
  
}

/* 🔥 Blur background */
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */

  background: rgba(0, 0, 0, 0.3);
  z-index: 90;
}

/* Keep icon above everything */
.menu-toggle {
  position: relative;
  z-index: 101;
}

/* Keep menu above overlay */
.nav-links {
  z-index: 100;
}